server {
    listen         80;
    server_name    {{ server_name }};
    return         301 https://$server_name$request_uri; #Redirection
}

server {
    listen              443 ssl;
    server_name         {{ server_name }};
    ssl_certificate     {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;

    location / {
	proxy_pass {{ proxy_pass_url }};
    }
}

